<div class="flex align-items-center justify-content-between menu">
  <h1>HEALT JOBS</h1>

  <div class="flex align-items-center gap-4">
    <div class="flex gap-3">
      <button
        class="button-green"
        pButton
        type="button"
        label="VAGAS"
        routerLink="/vagas"
      ></button>
    </div>
  </div>
</div>

<div class="form">
  <form #vgForm="ngForm">
    <div class="padding-top30">
      <h2>Postar vaga</h2>
    </div>

    <div class="flex flex-wrap justify-content-center">
      <div>
        <div class="margin-top30">
          <label for="empresa">Empresa</label>
        </div>
        <div class="width-300">
          <input
            [(ngModel)]="vagaForm.empresa"
            required
            name="empresa"
            class="input"
            type="text"
            id="empresa"
            pInputText
          />
        </div>
      </div>

      <div>
        <div class="margin-top30">
          <label for="cargo">Cargo</label>
        </div>
        <div class="width-300">
          <input
            [(ngModel)]="vagaForm.cargo"
            required
            name="cargo"
            class="input"
            type="text"
            id="cargo"
            pInputText
          />
        </div>
      </div>

      <div>
        <div class="margin-top30">
          <label for="salario">Salário</label>
        </div>
        <div class="width-300">
          <input
            [(ngModel)]="vagaForm.salario"
            required
            name="salario"
            class="input"
            type="text"
            id="salario"
            pInputText
          />
        </div>
      </div>

      <div>
        <div class="margin-top30">
          <label for="local">Local</label>
        </div>
        <div class="width-300">
          <input
            [(ngModel)]="vagaForm.local"
            required
            name="local"
            class="input"
            type="text"
            id="local"
            pInputText
          />
        </div>
      </div>

      <div>
        <div class="margin-top30">
          <label for="descricao">Descrição</label>
        </div>
        <div class="width-300">
          <textarea
            [(ngModel)]="vagaForm.descricao"
            pInputTextarea
            required
            id="descricao"
            name="descricao"
          ></textarea>
        </div>
      </div>

      <div class="width-300">
        <div class="margin-top30">
          <button
            [disabled]="vgForm.invalid"
            class="button-green"
            pButton
            type="button"
            label="POSTAR"
            (click)="cadastrar()"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
